repos:
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--line-length", "100"]
      - id: black-jupyter
        args: ["--line-length", "100"]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: ["--config", ".markdownlint.jsonc"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        exclude: 'uv\.lock$'
      - id: check-yaml
      - id: check-json
        exclude: ^\.vscode/
      - id: check-toml
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^.*\.sh$
      - id: requirements-txt-fixer
      - id: mixed-line-ending
      - id: detect-private-key
      - id: debug-statements
      - id: sort-simple-yaml
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: pytest
  #       language: python
  #       pass_filenames: false
  #       always_run: true
  #       args: ["test/", "-v", "--tb=short", "-x"]
  #       stages: [pre-commit]
  #       additional_dependencies: [pytest]
