accelerate
black
datasets
evaluate
hydra-core
isort
notebook
pre-commit
pytest
python-dotenv
scikit-learn
torch==2.8.0
# torch==2.8.0 --index-url https://download.pytorch.org/whl/cu129
transformers>=4.55.0
trl
wandb
