# Training Spec
max_length: 512
pad_to_multiple_of: 8
completion_only_loss: false

# Compilation
torch_compile: true
torch_compile_backend: "inductor"

# Batch Size
per_device_train_batch_size: ???
per_device_eval_batch_size: ???
gradient_accumulation_steps: 1
