hydra:
  run:
    dir: outputs/${logging.exp_id}/${logging.run_id}
  job:
    chdir: true

defaults:
  - model: gpt2
  - dataset: gsm8k
  - training: default
  - _self_

logging:
  project: research-template
  log_to: wandb
  run_id: ??? # Run ID (default: UTC timestamp)
  run_name: ??? # Run name (Must be set)
  exp_id: ??? # Experiment ID (default: UTC timestamp)
  bucket_name: ${oc.env:BUCKET_NAME} # S3 bucket name (Must be set)
  bucket_prefix: ${oc.env:BUCKET_PREFIX} # S3 bucket prefix (Must be set)
  s3_path: s3://${logging.bucket_name}/${logging.bucket_prefix}/projects/research-template/${logging.exp_id} # S3 path (Must be set)
  resume: never

debug:
  dry_run: false
